In [1]:
import matplotlib.pyplot as plt
from gmplot import gmplot
import numpy as np
import pandas as pd
import geopandas as gpd
from osgeo import gdal, ogr
from netCDF4 import Dataset
from itertools import permutations
import rasterio
import xarray as xr
from itertools import product
from matplotlib.pyplot import *
from shapely.geometry import LinearRing, Polygon, Point

%matplotlib inline

In [2]:
kelp_forest = xr.open_dataset("LandsatKelpBiomass_2017.nc").to_dataframe() #biomass in kg
monterey_bathymetry = xr.open_dataset("GRIDONE_2D_-123.4223_35.3277_-120.7039_37.9733.nc").to_dataframe() 

#Water depth was idea between 30-50 meters deep
monterey_bathymetry = monterey_bathymetry.reset_index()
bath_geom = monterey_bathymetry.apply(lambda x : Point([x['lat'],x['lon']]), axis=1)
monterey_bathymetry = gpd.GeoDataFrame(monterey_bathymetry, geometry = bath_geom, crs = {'init' : 'epsg:3857'})
monterey_bathymetry.head()

,lat,lon,elevation,geometry
0,35.333333,-123.416667,-3916.0,POINT (35.33333333333334 -123.4166666666667)
1,35.333333,-123.400000,-3891.0,POINT (35.33333333333334 -123.4)
2,35.333333,-123.383333,-3879.0,POINT (35.33333333333334 -123.3833333333333)
3,35.333333,-123.366667,-3874.0,POINT (35.33333333333334 -123.3666666666667)
4,35.333333,-123.350000,-3870.0,POINT (35.33333333333334 -123.35)

In [3]:
print("Kelp Forest Coordinate Bounds: \n [({},{}), ({},{})]"\
      .format(min(kelp_forest.lat), max(kelp_forest.lon), max(kelp_forest.lat), min(kelp_forest.lon)))

areas_with_kelp = kelp_forest[(kelp_forest.year == 2015) & (kelp_forest.quarter == 4) & (kelp_forest.biomass > 0)]
geom = areas_with_kelp.apply(lambda x : Point([x['lat'],x['lon']]), axis=1)
kelper = gpd.GeoDataFrame(areas_with_kelp, crs = {'init' :'epsg:3857'}, geometry=geom) #geom is a Series
kelper = kelper.reset_index()
kelper = kelper.iloc[:, [2, 3, 6, 12]]
kelper.head()

Kelp Forest Coordinate Bounds:
 [(32.35732391,-117.1293993), (37.11449796,-122.3298817)]

         lat         lon  biomass                          geometry
0  32.519277 -117.142836    265.0  POINT (32.51927713 -117.1428356)
1  32.519547 -117.143155    635.0   POINT (32.5195474 -117.1431554)
2  32.519548 -117.142836    275.0   POINT (32.51954776 -117.142836)
3  32.519548 -117.142197    272.0  POINT (32.51954849 -117.1421972)
4  32.519818 -117.143156    565.0  POINT (32.51981803 -117.1431559)

In [4]:
#Take one vertice and create a square with increment length
def squarify(point, increment):
    return Polygon([(point[0], point[1]),
     (point[0] + increment, point[1]), 
     (point[0] + increment, point[1] + increment), 
     (point[0], point[1] + increment)])

#input corner verticies - bot left and top right, returns bottom corner verticies
def desquarify(left_vertices, right_vertices, square_length):
    x_num = round((right_vertices[0] - left_vertices[0])/square_length, 0)
    y_num = round((right_vertices[1] - left_vertices[1])/square_length, 0)
    x_lengths = np.linspace(left_vertices[0], right_vertices[0]-square_length, x_num)
    y_lengths = np.linspace(left_vertices[1], right_vertices[1]-square_length, y_num)
    return [p for p in product(x_lengths, y_lengths)]

#square verticies are the bounds of the kelp data, monterey, specifically for monterey
square_left_vertices = desquarify((32.35732391,-122.3298817), (37.11449796,-117.1293993), .01)
monterey_vertices = desquarify((36.525102, -122.035133), (36.990160, -121.776639), .01)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:12: DeprecationWarning: object of type <class 'float'> cannot be safely interpreted as an integer.
  if sys.path[0] == '':
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:13: DeprecationWarning: object of type <class 'float'> cannot be safely interpreted as an integer.
  del sys.path[0]

In [5]:
#Monterey Bay (36.525102, -122.035133) ~ (36.990160, -121.776639)
monterey_squares = [squarify(i, .01) for i in monterey_vertices]
monterey_squares_df = gpd.GeoDataFrame(geometry=monterey_squares, crs = {'init' : 'epsg:3857'})
monterey_squares_df["polygon_id"] = range(len(monterey_squares))
monterey_master = gpd.sjoin(monterey_squares_df, kelper, op = "contains")
monterey_master.drop(columns = "index_right", inplace = True)
monterey_master = gpd.sjoin(monterey_master, monterey_bathymetry, op = "contains")
monterey_master.drop(columns = "index_right", inplace = True)
monterey_master.columns = ['geometry', 'polygon_id', 'lat_kelp', 'lon_kelp',
       'biomass_kg',  'lat_bath', 'lon_bath',
       'water_depth_m']
monterey_master.head()

,geometry,polygon_id,lat_kelp,lon_kelp,biomass_kg,lat_bath,lon_bath,water_depth_m
10,"POLYGON ((36.525102 -121.9357354, 36.535101999...",10,36.531576,-121.928010,2026.0,36.533333,-121.933333,-45.0
10,"POLYGON ((36.525102 -121.9357354, 36.535101999...",10,36.531846,-121.928006,1452.0,36.533333,-121.933333,-45.0
10,"POLYGON ((36.525102 -121.9357354, 36.535101999...",10,36.526976,-121.927738,485.0,36.533333,-121.933333,-45.0
10,"POLYGON ((36.525102 -121.9357354, 36.535101999...",10,36.527246,-121.927735,650.0,36.533333,-121.933333,-45.0
10,"POLYGON ((36.525102 -121.9357354, 36.535101999...",10,36.528598,-121.927716,764.0,36.533333,-121.933333,-45.0

In [6]:
#quick and dirty summary
master_dissolve = monterey_master.dissolve('polygon_id', as_index=False, aggfunc = np.sum)
master_dissolve.head()

,polygon_id,geometry,lat_kelp,lon_kelp,biomass_kg,lat_bath,lon_bath,water_depth_m
0,10,"POLYGON ((36.53510199999999 -121.9357354, 36.5...",2666.682929,-8900.852639,79629.0,2666.933333,-8901.133333,-3285.0
1,62,"POLYGON ((36.55488713043478 -121.9357354, 36.5...",6213.259624,-20728.814798,124260.0,6213.500000,-20728.666667,-3740.0
2,109,"POLYGON ((36.56467226086956 -121.9854342, 36.5...",36.574471,-121.977711,503.0,36.566667,-121.983333,-86.0
3,110,"POLYGON ((36.57467226086956 -121.97549444, 36....",2596.337298,-8659.836390,73184.0,2596.233333,-8659.633333,-1562.0
4,112,"POLYGON ((36.57467226086956 -121.95561492, 36....",292.525121,-975.596660,3615.0,292.533333,-975.600000,184.0

In [7]:
#Long way to get list of all the values
#Lookup:monterey_squares_df.head()
left_kelp = pd.DataFrame(monterey_master.groupby("polygon_id")["biomass_kg"].apply(list).reset_index())
left_kelp.columns = ["polygon_id", "kelp_biomass_kg"]
right_bath = pd.DataFrame(monterey_master.groupby("polygon_id")["water_depth_m"].apply(list).reset_index())
right_bath.columns = ["polygon_id", "water_depth_m"]
master_full = left_kelp.merge(right_bath, on = "polygon_id").merge(monterey_squares_df.reset_index().drop(columns="index_left"), on = "polygon_id")
master_full.head()

,polygon_id,kelp_biomass_kg,water_depth_m,geometry
0,10,"[2026.0, 1452.0, 485.0, 650.0, 764.0, 900.0, 6...","[-45.0, -45.0, -45.0, -45.0, -45.0, -45.0, -45...","POLYGON ((36.525102 -121.9357354, 36.535101999..."
1,62,"[1132.0, 455.0, 678.0, 710.0, 502.0, 665.0, 73...","[-22.0, -22.0, -22.0, -22.0, -22.0, -22.0, -22...","POLYGON ((36.54488713043478 -121.9357354, 36.5..."
2,109,[503.0],[-86.0],"POLYGON ((36.56467226086956 -121.9854342, 36.5..."
3,110,"[476.0, 600.0, 458.0, 687.0, 615.0, 692.0, 615...","[-22.0, -22.0, -22.0, -22.0, -22.0, -22.0, -22...","POLYGON ((36.56467226086956 -121.97549444, 36...."
4,112,"[448.0, 428.0, 465.0, 453.0, 467.0, 432.0, 461...","[23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0]","POLYGON ((36.56467226086956 -121.95561492, 36...."

In [8]:
#First iteration of squares and kelp lines
monterey_lats = [monterey_squares[i].exterior.coords.xy[0].tolist() for i in range(len(monterey_squares))]
monterey_lats_clean = [i for sublist in monterey_lats for i in sublist]
monterey_lons = [monterey_squares[i].exterior.coords.xy[1].tolist() for i in range(len(monterey_squares))]
monterey_lons_clean = [i for sublist in monterey_lons for i in sublist]
gmap = gmplot.GoogleMapPlotter(36.786335, -121.905312, 13)
sq_lat = tuple(monterey_lats_clean)
sq_lon = tuple(monterey_lons_clean)
gmap.plot(sq_lat, sq_lon, 'cornflowerblue', edge_width=2)
kelp_lat = tuple(kelper.lat)
kelp_lon = tuple(kelper.lon)
gmap.plot(kelp_lat, kelp_lon, '#3B0B39', size=20)
gmap.draw("kelper.html")

In [9]:
import bokeh
from bokeh.io import output_notebook, show
from bokeh.plotting import figure
from bokeh.models import (ColumnDataSource, HoverTool, LogColorMapper)
from bokeh.palettes import YlGn as palette
from bokeh.tile_providers import STAMEN_TERRAIN

polygon_xs = [master_dissolve["geometry"][i].exterior.xy[1].tolist() for i in range(master_dissolve.shape[0])]
polygon_ys = [master_dissolve["geometry"][i].exterior.xy[0].tolist() for i in range(master_dissolve.shape[0])]
biomass_kg = master_dissolve.biomass_kg.tolist()
water_depth_m = master_dissolve.water_depth_m.tolist()
palette = palette[9]
palette.reverse()
color_mapper = LogColorMapper(palette=palette)

In [10]:
#small squares, color palette
from bokeh.io import output_file, show
from bokeh.models import ColumnDataSource, GMapOptions, GMapPlot, Patches, HoverTool
from bokeh.plotting import gmap

output_file("gmap.html")

map_options = GMapOptions(lat=36.786335, lng=-121.905312, map_type="roadmap", zoom=10)

#NEVER SHARE THIS GOOGLE MAPS API KEY
p = gmap("AIzaSyAqMlpFrenE6SClJJ15goq0GmY-MDeN8tg", map_options, title="Monterey Kelp - Small Squares")

source = ColumnDataSource(data=dict(
    x=polygon_xs,
    y=polygon_ys,
    kelp=biomass_kg,
    bathymetry=water_depth_m,
))


patched = Patches(xs="x", ys="y", fill_color= {"field": "kelp", "transform":color_mapper}, 
          fill_alpha=0.8, line_color = "white", line_width = 0.7)
p.add_glyph(source, patched)
p.add_tools(HoverTool(tooltips=[("Kelp Biomass (KG)", "@kelp"), ("Water Depth (M)", "@bathymetry"), ("(Lat, Long)", "($y, $x)")]))


show(p)

In [11]:
#Big Square Parameters - max bounds for the kelp squares, square length
big_bl = (32.35732391,-122.3298817)
big_tr = (37.11449796,-117.1293993)
sq_size = .1

biq_verticies = desquarify(big_bl, big_tr, sq_size)
big_squares_df = gpd.GeoDataFrame(geometry=[squarify(i, sq_size) for i in biq_verticies], crs = {'init' : 'epsg:3857'})
big_squares_df["polygon_id"] = range(len(big_squares_df))
big_squares = gpd.sjoin(big_squares_df, kelper, op = "contains")
big_squares.drop(columns = "index_right", inplace = True)
big_squares = gpd.sjoin(big_squares, monterey_bathymetry, op = "contains", how = "left")
big_squares.drop(columns = "index_right", inplace = True)
big_squares.columns = ['geometry', 'polygon_id', 'lat_kelp', 'lon_kelp',
       'biomass_kg',  'lat_bath', 'lon_bath',
       'water_depth_m']
big_squares.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:12: DeprecationWarning: object of type <class 'float'> cannot be safely interpreted as an integer.
  if sys.path[0] == '':
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:13: DeprecationWarning: object of type <class 'float'> cannot be safely interpreted as an integer.
  del sys.path[0]

,geometry,polygon_id,lat_kelp,lon_kelp,biomass_kg,lat_bath,lon_bath,water_depth_m
103,"POLYGON ((32.45641271957447 -117.2293993, 32.5...",103,32.553084,-117.160783,275.0,NaN,NaN,NaN
103,"POLYGON ((32.45641271957447 -117.2293993, 32.5...",103,32.553626,-117.160465,286.0,NaN,NaN,NaN
103,"POLYGON ((32.45641271957447 -117.2293993, 32.5...",103,32.553355,-117.160465,272.0,NaN,NaN,NaN
103,"POLYGON ((32.45641271957447 -117.2293993, 32.5...",103,32.553897,-117.160146,266.0,NaN,NaN,NaN
103,"POLYGON ((32.45641271957447 -117.2293993, 32.5...",103,32.555253,-117.157911,256.0,NaN,NaN,NaN

In [12]:
big_dissolve = big_squares.dissolve('polygon_id', as_index=False, aggfunc = np.mean)
big_xs = [big_dissolve["geometry"][i].exterior.xy[1].tolist() for i in range(big_dissolve.shape[0])]
big_ys = [big_dissolve["geometry"][i].exterior.xy[0].tolist() for i in range(big_dissolve.shape[0])]
big_biomass_kg = big_dissolve.biomass_kg.tolist()
big_water_depth_m = big_dissolve.water_depth_m.tolist()

In [16]:
#Big, Color Pallete
from bokeh.io import output_file, show
from bokeh.models import ColumnDataSource, GMapOptions, GMapPlot, Patches, HoverTool
from bokeh.plotting import gmap

output_file("bigsquares.html")

map_options = GMapOptions(lat=32.88, lng=-118.460745, map_type="roadmap", zoom=10)

#NEVER SHARE THIS GOOGLE MAPS API KEY
p = gmap("AIzaSyAqMlpFrenE6SClJJ15goq0GmY-MDeN8tg", map_options, title="CA Kelp Areas")

source = ColumnDataSource(data=dict(
    x=big_xs,
    y=big_ys,
    kelp=big_biomass_kg
))

patched = Patches(xs="x", ys="y", fill_color= {"field": "kelp", "transform":color_mapper}, 
          fill_alpha=0.8, line_color = "white", line_width = 0.7)
p.add_glyph(source, patched)
p.add_tools(HoverTool(tooltips=[("Kelp Biomass (KG)", "@kelp"), ("Water Depth (M)", "@bathymetry"), ("(Lat, Long)", "($y, $x)")]))


show(p)

In [22]:
#Tiles doesn't work; tried troubleshooting for a while, even tried different crs, but no avail
from bokeh.tile_providers import STAMEN_TERRAIN_RETINA

output_file("stamen.html")

source = ColumnDataSource(data=dict(
    x=big_xs,
    y=big_ys,
    kelp=big_biomass_kg
))

TOOLS = "pan,wheel_zoom,box_zoom,reset,hover,save"

p = figure(
    plot_height=700, plot_width=800,
    title="CA Kelp Areas", tools=TOOLS,
    x_range = (-122.3298817, -117.1293993), y_range = (32.35732391, 37.11449796))

p.background_fill_color = "gray"
p.grid.grid_line_color = None
p.add_tile(STAMEN_TERRAIN_RETINA)


patched = Patches(xs="x", ys="y", fill_color= {"field": "kelp", "transform":color_mapper}, 
          fill_alpha=0.8, line_color = "white", line_width = 0.7)
p.add_glyph(source, patched)
p.add_tools(HoverTool(tooltips=[("Kelp Biomass (KG)", "@kelp"), ("Water Depth (M)", "@bathymetry"), ("(Lat, Long)", "($y, $x)")]))

show(p)

In [ ]:
import folium
ca_kelp = folium.Map(location=[32.8, -118.46],
                   tiles='cartodbpositron', zoom_start=7)
ca_kelp

In [ ]:
folium.GeoJson(big_squares).add_to(ca_kelp)
ca_kelp.save("folium.html")
ca_kelp